<!DOCTYPE html>
<html>
<head>
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="bootstrap/css/fontawesome-all.css">
<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="bootstrap/css/bootstrap.css">    
<link rel="stylesheet" href="bootstrap/css/mdb.css">
<link rel="stylesheet" href="bootstrap/css/style.css">    
</head>
    
<body>
<nav class="navbar navbar-dark navbar-expand-sm bg-dark">
        <div class="container-fluid">
            <button class="navbar-toggler" data-toggle="collapse"
                    data-target="#hello">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="hello">
                <ul class="navbar-nav ">    
                    <li class="nav-item mr-5">
                    <a  href="index.html" class="nav-link"><i class="fa fa-home"></i>Home</a>
                    </li>
                    
                    <li class="nav-item mr-5">
                    <a  href="product.html" class="nav-link">Products</a>
                    </li>
                    
                    <li class="nav-item mr-5">
                    <a  href="recent.html" class="nav-link"><i class="fa fa-edit"></i>
                        Latest Mobiles</a>
                    </li>
                    
                    
                    <li class="nav-item mr-5">
                    <a  href="services.html" class="nav-link"><i class="fa fa-address-book"></i>Services</a>
                    </li>
                    
                    
                    
                    <li class="nav-item mr-5 ">
                    <a href="about.html" class="nav-link"><i class="fa fa-info-circle "></i>About</a>
                    </li>
                    
                    <li class="nav-item mr-5">
                    <a  href="contact.html" class="nav-link"><i class="fa fa-envelope"></i>Contact</a>
                    </li>
                    
                    <li class="nav-item">
                    <a  href="#" class="nav-link"><i class="fa fa-user-circle"></i>Your Account</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="container-fluid bg-dark text-light p-2">
        <div class="row">
            <div class="col-md-3">
                <h2 class="h5">The Project</h2>
            <ul class="list-unstyled">
                <li>Home</li>
                <li>Products</li>
                <li>Services</li>
                <li>About Us</li>
                </ul>
            </div>
            <div class="col-md-3">
                <h2 class="h5">Products</h2>
                <ul class="list-unstyled">
                <li>Apple</li>
                <li>Samsung</li>
                <li>Vivo</li>
                <li>Redmi</li>
                </ul>
            </div>
            <div class="col-md-3">
                <h2 class="h5">Email & support</h2>
                <ul class="list-unstyled">
                <li>abcd@gmail.com</li>
                    <h6 class="h6">Contact</h6>
                    <li>123-456-7890</li>

                </ul>
            </div>
            <div class="col-md-3">
            <h2 class="h5">Contact Us</h2>
            <img src="bootstrap/image/fb.jpg" height="20px" width="45px"><br>
            <img src="bootstrap/image/gg.jpg" height="20px" width="45px"><br> 
            <img src="bootstrap/image/in.html" height="20px" width="45px">   
            </div>
            </div>
        </div>
            
</body> 
<script src="bootstrap/js/fontawesome-all.js"></script>
<script src="bootstrap/js/jquery-3.2.1.min.js"></script>
<script src="bootstrap/js/popper.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="bootstrap/js/bootstrap.js"></script>    
<script src="bootstrap/js/mdb.min.js"></script>  
</html>